manifest {
    mainScript = 'main.nf'
}

// default parameters

params {
    cores = '4'
    memory = '12'
    help = false
    profile = false

    // inputs
    illumina = ''
    fasta = ''
    list = false

    // databases
    virsorter_db = false

    // folder structure
    output = 'results'
    virusdir = '02-Viruses'
    assemblydir = '01-Assembly'
    readQCdir = '00-Read-quality'
}

profiles {
  
    standard { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/local.config' }

    gcloudChris { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://databases-nextflow/databases/' 
        bucketDir = 'gs://nextflow-tmp-workdir/reconstruct-strains-eukaryotic'
        google {  project = 'nextflow-auto'; zone = 'europe-west1-b' }  
        includeConfig 'configs/googlegenomics.config' }

    gcloudMartin { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://databases-matrice/databases'
        bucketDir = 'gs://matrice/nextflow-tmp'
        google {  project = 'nextflow-auto-255816'; zone = 'europe-west2-b' }    
        includeConfig 'configs/googlegenomics.config' }

    ebi { 
        params.cloudProcess = true
        params.cloudDatabase = '/homes/mhoelzer/data/nextflow-databases/'
        includeConfig 'configs/ebi.config' }
      
} 
