manifest {
    mainScript = 'main.nf'
}

// default parameters

params {
    cores = '4'
    memory = '12'
    help = false
    profile = false

    // inputs
    illumina = ''
    fasta = ''
    list = false

    // databases
    virsorter = false
    viphog = false
    ncbi = false

    // folder structure
    output = 'results'
    virusdir = '01-viruses'
    prodigaldir = '02-prodigal'
    hmmerdir = '03-hmmer'
    plotdir = '04-plots'
}

profiles {
  
    standard { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/local.config' }

    ebi { 
        params.cloudProcess = true
        params.cloudDatabase = '/homes/mhoelzer/data/nextflow-databases/'
        includeConfig 'configs/ebi.config' }
      
} 
