
workDir = "/hps/nobackup2/production/metagenomics/mhoelzer/nextflow-work-$USER"

executor {
    name = "local"
    name = "lsf"
    //queueSize = 1000
}

singularity { 
    enabled = true
    cacheDir = "/hps/nobackup2/singularity/mhoelzer"
}

process {
    cache = "lenient"
    //errorStrategy = "retry"
    //maxRetries = 1
    withLabel: fastp { cpus = 8 ; memory = '24 GB' ; container = 'nanozoo/fastp:0.20.0--78a7c63' } 
    withLabel: fastqc { cpus = 4 ; memory = '4 GB' ; container = 'nanozoo/fastqc:0.11.8--aaf4ac4' } 
    withLabel: multiqc { cpus = 4 ; memory = '4 GB' ; container = 'nanozoo/multiqc:0.9.1--ac039d3' } 
    withLabel: spades { cpus = 50 ; memory = '90 GB' ; container = 'nanozoo/spades:3.13.1--2c2a4c0' } 
    withLabel: virsorter { cpus = 48 ; memory = '32 GB' ; container = 'multifractal/virsorter:latest' }
    withLabel: virfinder { cpus = 24 ; memory = '32 GB' ; container = 'multifractal/virfinder:latest' }
    /*
    withLabel: fastp { cpus = params.cores ; memory = params.memory ; container = 'nanozoo/fastp:0.20.0--78a7c63' } 
    withLabel: fastqc { cpus = params.cores ; memory = params.memory ; container = 'nanozoo/fastqc:0.11.8--aaf4ac4' } 
    withLabel: multiqc { cpus = params.cores ; memory = params.memory ; container = 'nanozoo/multiqc:0.9.1--ac039d3' } 
    withLabel: spades { cpus = params.cores ; memory = params.memory ; container = 'nanozoo/spades:3.13.1--2c2a4c0' } 
    withLabel: virfinder { cpus = params.cores ; memory = params.memory ; container = 'multifractal/virfinder:latest' }
    */
}

