
workDir = "/hps/nobackup2/production/metagenomics/mhoelzer/nextflow-work-$USER"

executor {
    name = "lsf"
    //queueSize = 1000
}

singularity { 
    enabled = true
    cacheDir = "/hps/nobackup2/singularity/mhoelzer"
}

process {
    cache = "lenient"
    //errorStrategy = "retry"
    //maxRetries = 1
            withLabel: fastp { cpus = 12 ; memory = '24 GB' ; container = 'nanozoo/fastp:0.20.0--78a7c63' } 
            withLabel: fastqc { cpus = 4 ; memory = '4 GB' ; container = 'nanozoo/fastqc:0.11.8--aaf4ac4' } 
            withLabel: krona { cpus = 2 ; memory = '8 GB' ; container = 'nanozoo/krona:2.7.1--658845d'  }
            withLabel: multiqc { cpus = 4 ; memory = '4 GB' ; container = 'nanozoo/multiqc:0.9.1--ac039d3' } 
            withLabel: spades { cpus = 50 ; memory = '90 GB' ; container = 'nanozoo/spades:3.13.1--2c2a4c0' } 
    	    withLabel: virsorter { cpus = 24 ; memory = '24 GB' ; container = 'multifractal/virsorter:latest' }
            withLabel: virfinder { cpus = 24 ; memory = '24 GB' ; container = 'multifractal/virfinder:latest' }
            withLabel: kaiju { cpus = 12 ; memory = '72 GB' ; container = 'nanozoo/kaiju:1.7.2--fa366a0' }
            withLabel: ruby { cpus = 4 ; memory = '4 GB' ; container = 'ruby:2.7-rc' } 
            withLabel: ubuntu { cpus = 4 ; memory = '4 GB' ; container = 'ubuntu:bionic' } 
            withLabel: ucsc { cpus = 4 ; memory = '8 GB' ; container = 'nanozoo/ucsc-utils:377--cd1194b' } 

}

