
workDir = "/tmp/nextflow-work-$USER"
bucketDir = 'gs://matrice/nextflow-tmp'

docker { enabled = true }

google {  project = 'nextflow-auto-255816'
          zone = 'europe-west2-b' }

cloud { preemptible = true }
            
    process {   
        executor = 'google-pipelines'

        withLabel: fastp { cpus = 8 ; memory = '24 GB' ; container = 'nanozoo/fastp:0.20.0--78a7c63' } 
        withLabel: fastqc { cpus = 4 ; memory = '4 GB' ; container = 'nanozoo/fastqc:0.11.8--aaf4ac4' } 
        withLabel: multiqc { cpus = 4 ; memory = '4 GB' ; container = 'nanozoo/multiqc:0.9.1--ac039d3' } 
        withLabel: spades { cpus = 50 ; memory = '160 GB' ; container = 'nanozoo/spades:3.13.1--2c2a4c0' } 
	    withLabel: virsorter { cpus = 4 ; memory = '8 GB' ; container = 'multifractal/virsorter:latest' }
        withLabel: virfinder { cpus = 24 ; memory = '32 GB' ; container = 'multifractal/virfinder:latest' }

        /*
        withLabel: bandage { cpus = 4 ; memory = '20 GB' ; container = 'nanozoo/bandage:0.8.1--7da3a06' } 
        withLabel: busco { cpus = 8 ; memory = '30 GB' ; container = 'nanozoo/busco:3.0.2--a8ce7e1' } 
        withLabel: filtlong { cpus = 4 ; memory = '20 GB' ; container = 'nanozoo/filtlong:v0.2.0--afa175e' }
        withLabel: flye { cpus = 50 ; memory = '160 GB' ; container = 'nanozoo/flye:2.5--bae51d9' } 
        withLabel: medaka { cpus = 20 ; memory = '60 GB' ; container = 'nanozoo/medaka:0.8.1--d88917e' } 
        withLabel: minimap2 { cpus = 8 ; memory = '24 GB' ; container = 'nanozoo/minimap2:2.17--caba7af' } 
        withLabel: nanoplot { cpus = 8 ; memory = '24 GB' ; container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
        withLabel: racon { cpus = 10 ; memory = '40 GB' ; container = 'quay.io/biocontainers/racon:1.3.2--he941832_0' } 
        withLabel: shasta { cpus = 50 ; memory = '160 GB' ; container = 'nanozoo/shasta:0.3.0--492d216'  }
        withLabel: sourmash { cpus = 8 ; memory = '24 GB' ; container = 'nanozoo/sourmash:2.0.1--6970ddc'  }
        withLabel: ubuntu { cpus = 4 ; memory = '20 GB' ; container = 'ubuntu:bionic' }
        */ 
    }