
workDir = "/tmp/nextflow-work-$USER"
process.executor = 'local'
docker { enabled = true }

        process {
            /*
            withLabel: busco { cpus = params.cores ; container = 'nanozoo/busco:3.0.2--a8ce7e1' } 
            withLabel: sourmash { cpus = 4 ; container = 'nanozoo/sourmash:2.0.1--6970ddc'  }
            withLabel: nanoplot { cpus = params.cores; container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
            withLabel: flye { cpus = params.cores ; container = 'nanozoo/flye:2.5--bae51d9' } 
            withLabel: filtlong { cpus = params.cores ; container = 'nanozoo/filtlong:v0.2.0--afa175e' }
            withLabel: minimap2 { cpus = params.cores ; container = 'nanozoo/minimap2:2.17--caba7af' } 
            withLabel: racon { cpus = params.cores ; container = 'quay.io/biocontainers/racon:1.3.2--he941832_0' } 
            withLabel: medaka { cpus = params.cores ; container = 'nanozoo/medaka:0.8.1--d88917e' } 
            withLabel: bandage { cpus = params.cores ; container = 'nanozoo/bandage:0.8.1--7da3a06' } 
            withLabel: ubuntu { cpus = 4 ; container = 'ubuntu:bionic' } 
            withLabel: shasta { cpus = params.cores ; container = 'nanozoo/shasta:0.3.0--492d216'  }
            */
        }

