
workDir = "/tmp/nextflow-work-$USER"
process.executor = 'local'
docker { enabled = true }

        process {
            withLabel: fastp { cpus = params.cores ; container = 'nanozoo/fastp:0.20.0--78a7c63' } 
            withLabel: fastqc { cpus = params.cores ; container = 'nanozoo/fastqc:0.11.8--aaf4ac4' } 
            withLabel: multiqc { cpus = params.cores ; container = 'nanozoo/multiqc:0.9.1--ac039d3' } 
            withLabel: spades { cpus = params.cores ; container = 'nanozoo/spades:3.13.1--2c2a4c0' } 
	        withLabel: virsorter { cpus = params.cores ; container = 'multifractal/virsorter:latest' }
            withLabel: virfinder { cpus = params.cores ; container = 'multifractal/virfinder:latest' }
            withLabel: kaiju { cpus = params.cores ; container = 'nanozoo/kaiju:1.7.2--fa366a0' }
            withLabel: ubuntu { cpus = 4 ; container = 'ubuntu:bionic' } 
            withLabel: ucsc { cpus = 4 ; container = 'nanozoo/ucsc-utils:377--cd1194b' } 
            withLabel: ruby { cpus = 4 ; container = 'ruby:2.7-rc' } 
            withLabel: krona { cpus = params.cores ; container = 'nanozoo/krona:2.7.1--658845d'  }
        }

