
workDir = params.workdir

executor {
    name = "lsf"
    queueSize = 1000
}

singularity { 
    enabled = true
    cacheDir = params.cachedir
}

process {
    cache = "lenient"
    //errorStrategy = "retry"
    //maxRetries = 1
            withLabel: fastp { cpus = 12 ; memory = '24 GB' ; container = 'nanozoo/fastp:0.20.0--78a7c63' } 
            withLabel: fastqc { cpus = 4 ; memory = '4 GB' ; container = 'nanozoo/fastqc:0.11.8--aaf4ac4' } 
            withLabel: krona { cpus = 2 ; memory = '8 GB' ; container = 'nanozoo/krona:2.7.1--658845d'  }
            withLabel: multiqc { cpus = 4 ; memory = '4 GB' ; container = 'nanozoo/multiqc:0.9.1--ac039d3' } 
            withLabel: spades { cpus = 32 ; memory = '200 GB' ; clusterOptions = '-P bigmem'; container = 'nanozoo/spades:3.14--c3546a9' } 
            withLabel: kaiju { cpus = 12 ; memory = '72 GB' ; container = 'nanozoo/kaiju:1.7.2--fa366a0' }
            withLabel: ruby { cpus = 4 ; memory = '4 GB' ; container = 'ruby:2.7-rc' } 
            withLabel: ubuntu { cpus = 4 ; memory = '4 GB' ; container = 'ubuntu:bionic' } 
            withLabel: ucsc { cpus = 4 ; memory = '8 GB' ; container = 'nanozoo/ucsc-utils:377--cd1194b' } 
            withLabel: basics { cpus = 2; memory = '8 GB'; container = 'nanozoo/basics:1.0--da8477a' } 
            withLabel: filter { cpus = 4; memory = '8 GB'; container = 'mhoelzer/cwl_length_filter_docker:0.1' }
	    withLabel: virsorter { cpus = 12; memory = '18 GB'; container = 'quay.io/biocontainers/virsorter:1.0.6--pl526h516909a_1' }
            withLabel: virfinder { cpus = 1; memory = '16 GB' ; container = 'mhoelzer/virfinder_viral:0.1' }
            withLabel: parse { cpus = 4; memory = '8 GB'; container = 'mhoelzer/cwl_parse_pred:0.1' }
            withLabel: prodigal { cpus = 8; memory = '8 GB'; container = 'mhoelzer/prodigal_viral:0.1' }
            withLabel: hmmscan { cpus = 12; memory = '8 GB'; container = 'mhoelzer/hmmscan:0.1' }
            //withLabel: hmm_postprocessing { cpus = 4; memory = '8 GB'; container = 'mhoelzer/sed_docker:0.1' }
            withLabel: ratio_evalue { cpus = 2; memory = '8 GB'; container = 'mhoelzer/python3_virify:0.1' }
            withLabel: annotation { cpus = 2; memory = '8 GB'; container = 'mhoelzer/annotation_viral_contigs:0.1' }
            withLabel: mapping { cpus = 2; memory = '8 GB'; container = 'mhoelzer/mapping_viral_predictions:0.1' }
            withLabel: assign { cpus = 2; memory = '8 GB'; container = 'mhoelzer/assign_taxonomy:0.1' }

}

